body {
  margin: 0;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav-block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}
.nav-block__item {
  width: 100%;
  max-height: 56px;
}
.nav-block__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81B3D2;
  width: 100%;
  padding: 17px 0 12px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .nav-block__link {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 18px 0 17px;
  }
}
.nav-block__link--nav {
  display: none;
}
@media (min-width: 768px) {
  .nav-block__link--nav {
    display: block;
    background-color: inherit;
    padding: 0;
  }
}
.main-header__nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.main-header__nav--close {
  display: none;
}
@media (min-width: 768px) {
  .main-header__nav {
    position: relative;
  }
  .main-header__nav--close {
    display: flex;
  }
}
.main-header__wrapper {
  display: flex;
  justify-content: center;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
}
.main-header__logo {
  display: block;
  background-color: inherit;
  padding: 0;
  z-index: 2;
  max-height: 56px;
}
@media (min-width: 768px) {
  .main-header__logo {
    display: none;
  }
}
.main-header__toggle {
  position: absolute;
  z-index: 11;
  top: 26px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  border: 0;
}
.main-header__toggle::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 4px;
  top: -8px;
  right: 0;
  background-color: #81B3D2;
  border: 0;
}
.main-header__toggle::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 4px;
  top: 9px;
  right: 0;
  background-color: #81B3D2;
  border: 0;
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}
.page-intro {
  background-image: url("../../img/page-intro-back-mob.jpg");
  background-color: #81B3D2;
  background-repeat: no-repeat;
  background-position: 0 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 37px;
  max-width: 1200px;
}
.page-intro::after {
  display: block;
  content: "";
  background-image: url("../../img/intro-triangle.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  background-position: 50% 100%;
}
.page-intro::before {
  display: block;
  content: "";
  background-image: url("/img/page-intro-sedona-mob.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 39px;
}
@media (min-width: 768px) {
  .page-intro {
    background-image: url("/img/index-intro-back.jpg");
    margin-bottom: 66px;
  }
  .page-intro::before {
    background-image: url("/img/intro-text-sedona.svg");
    height: 78px;
  }
}
.footer {
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
}
.footer__hashtag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__made-in::before {
  position: absolute;
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("/img/htmlacademy-logo.svg");
  background-color: #ffffff;
}
.footer__made-in-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.social-networks {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.social-networks__link {
  display: block;
  background-color: #81B3D2;
  width: 48px;
  height: 48px;
}
.social-networks__link--vk {
  background-image: url("/img/icon-vk.svg");
  background-color: #81B3D2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-networks__link--telegram {
  background-image: url("/img/icon-telegram.svg");
  background-color: #81B3D2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-networks__link--youtube {
  background-image: url("/img/icon-youtube.svg");
  background-color: #81B3D2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.pic-list {
  padding: 0;
  list-style-type: none;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .pic-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .pic-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.catalog-content__wrapper {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 1200px) {
  .catalog-item:first-child {
    grid-column-end: 4;
  }
}
@media (min-width: 768px) {
  .catalog-item__description {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .catalog-item__description {
    background-color: #0000004d;
    z-index: 2;
    min-height: 80px;
    margin-top: -80px;
  }
}
.catalog-item__description-heading-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
@media (min-width: 1200px) {
  .catalog-item__description-heading-name {
    color: #ffffff;
  }
}
.catalog-item__description-heading-author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 1200px) {
  .catalog-item__description-heading-author {
    color: #ffffff;
  }
}
.catalog-item__image {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
.catalog-photo {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-photo {
    width: calc(100% - 120px);
  }
}
@media (min-width: 1200px) {
  .catalog-photo {
    width: 100%;
  }
}
.catalog-photo__slogan {
  text-align: center;
}
.catalog-photo__slogan-definition {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .catalog-photo__slogan-definition {
    font-size: 30px;
  }
}
.catalog-photo__slogan-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.catalog-photo__content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.like-counter__count {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  display: flex;
  align-items: center;
}
.like-counter__count::before {
  content: "";
  display: block;
  background-image: url("/img/like-icon.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  padding-right: 14px;
}
@media (min-width: 1200px) {
  .like-counter__count {
    color: #ffffff;
  }
  .like-counter__count::before {
    background-image: url("/img/like-icon-white.svg");
  }
}
.video {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video {
    width: calc(100% - 120px);
  }
}
@media (min-width: 1200px) {
  .video {
    width: 100%;
    max-width: 800px;
  }
}
.video__heading-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video__heading-name {
    font-size: 30px;
  }
}
.video__heading-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.video__block::before {
  position: absolute;
  content: "";
  background-image: url("/img/play-button.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 48px;
  height: 54px;
}
.video__block-movie {
  width: 100%;
  object-fit: cover;
}
.advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.advantages__item {
  display: block;
}
@media (min-width: 768px) {
  .advantages__item--picture {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.advantages__image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.recomendation {
  padding: 0 18px;
}
@media (min-width: 768px) {
  .recomendation {
    text-align: center;
    padding: 0;
  }
}
.recomendation__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.recomendation__name--home::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("/img/icon-house.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.recomendation__name--eat::before {
  content: "";
  display: block;
  width: 76px;
  height: 69px;
  background-image: url("/img/icon-burger.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.recomendation__name--gift::before {
  content: "";
  display: block;
  width: 63px;
  height: 75px;
  background-image: url("/img/icon-gift.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .recomendation__name {
    font-size: 21px;
  }
}
.recomendation__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.img-description {
  background-color: #81B3D2;
  text-align: center;
  padding: 32px 18px 40px;
}
.img-description__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .img-description__heading {
    font-size: 21px;
  }
}
.img-description__number {
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 17px;
}
.img-description__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.benefit {
  background-color: #EEEEEE;
  text-align: center;
  padding: 0 18px;
}
@media (min-width: 768px) {
  .benefit {
    padding: 0;
  }
}
.benefit__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .benefit__name {
    font-size: 21px;
  }
}
.benefit__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 15px;
}
.benefit__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.index-content__slogan {
  margin: 32px 0 32px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0 18px;
}
@media (min-width: 768px) {
  .index-content__slogan {
    padding: 0;
  }
}
.index-content__slogan-definition {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
}
.index-content__slogan-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.index-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 389px;
  background-image: url("/img/back-mobile.jpg");
  background-color: #81B3D2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.index-intro::before {
  content: "";
  position: relative;
  display: block;
  width: 282px;
  height: 214px;
  background-image: url("/img/text-index-mobile.svg");
  background-repeat: no-repeat;
  margin-bottom: 28px;
}
.index-intro::after {
  content: "";
  display: block;
  position: relative;
  background-image: url("/img/intro-triangle.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  background-position: 50% 100%;
}
@media (min-width: 768px) {
  .index-intro {
    background-image: url("/img/index-intro-back.jpg");
    width: 100%;
    height: 518px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .index-intro::before {
    background-image: url("/img/index-intro-text.svg");
    width: 461px;
    height: 350px;
  }
}
.main-content__wrapper {
  width: calc(100% - 36px);
  margin: 0 auto;
}
.map-block {
  background-image: url("/img/intro-map.jpg");
  background-color: #cce0a3;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 350px;
  max-width: 1200px;
  margin: 0 auto;
}
.search-block {
  text-align: center;
  padding: 0 18px;
}
@media (min-width: 768px) {
  .search-block {
    padding: 0;
  }
}
.search-block__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .search-block__heading {
    font-size: 30px;
  }
}
.search-block__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.search-block__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81B3D2;
  text-transform: uppercase;
  text-decoration: none;
}
.form {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .form {
    width: calc(100% - 120px);
  }
}
.form__heading {
  text-align: center;
}
.form__heading-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__heading-name {
    font-size: 30px;
  }
}
.form__heading-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__input-heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__input-heading {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .form__input-block {
    display: flex;
    justify-content: space-between;
  }
}
.form__field-block {
  display: flex;
  flex-direction: column;
}
.form__field-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.form__field-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: 0;
}
.form__emotions-heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__emotions-heading {
    font-size: 21px;
    text-align: center;
  }
}
.form__emotions-text {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: 0;
}
.form__submit-block {
  max-width: 768px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__submit-block {
    display: flex;
    justify-content: space-between;
  }
}
.form__submit-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: #ffffff;
  background-color: #81B3D2;
}
.form__submit-remark {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.modal-failure {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
}
.modal-failure__close {
  display: none;
}
.modal-failure__wrapper {
  padding: 52px 47px 49px;
  background-color: #ffffff;
  width: 400px;
  height: 347px;
  margin: auto;
}
.modal-failure__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-failure__heading {
    font-size: 30px;
  }
}
.modal-failure__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.modal-failure__submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: #ffffff;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .modal-failure__submit {
    font-size: 21px;
  }
}
.modal-success {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
}
.modal-success__close {
  display: none;
}
.modal-success__wrapper {
  background-color: #ffffff;
  width: 640px;
  height: 347px;
  margin: auto;
}
.modal-success__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-success__heading {
    font-size: 30px;
  }
}
.modal-success__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.modal-success__white-background {
  padding: 55px 98px 32px;
  background-color: #ffffff;
}
.modal-success__grey-background {
  box-sizing: border-box;
  width: 100%;
  background-color: #EEEEEE;
  padding: 44px 91px;
}
.modal-success__submit {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: #ffffff;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .modal-success__submit {
    font-size: 21px;
  }
}
.radio-block__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .radio-block__heading {
    font-size: 21px;
    text-align: center;
  }
}
.radio-block__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .radio-block__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.radio-block__item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.checkbox-block__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .checkbox-block__heading {
    font-size: 21px;
    text-align: center;
  }
}
.checkbox-block__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .checkbox-block__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.checkbox-block__item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */
