.catalog-item__description {
  background-color: #0000004d;
}

.catalog-item__description-heading-name {
  font-family: @PT-Sans;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.catalog-item__description-heading-author {
  font-family: @PT-Sans;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}
