.form {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1200px;

  @media (min-width: 768px) {
    width: calc(100% - 120px);
  }
}

.form__heading {
  text-align: center;
}

.form__heading-name {
  font-family: @PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.form__heading-text {
  font-family: @PT-Sans;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__input-heading {
  font-family: @PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.form__input-block {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.form__field-block {
  display: flex;
  flex-direction: column;
}

.form__field-name {
  font-family: @PT-Sans;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.form__field-text {
  font-family: @PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @input-bg;
  border: 0;
}

.form__emotions-heading {
  font-family: @PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 21px;
    text-align: center;
  }
}

.form__emotions-text {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-family: @PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @input-bg;
  border: 0;
}

.form__submit-block {
  max-width: 768px;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.form__submit-button {
  font-family: @PT-Sans;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: #ffffff;
  background-color: @button-blue;
}

.form__submit-remark {
  font-family: @PT-Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
