.benefit {
  background-color: @light-grey;
  text-align: center;
  padding: 0 18px;
  min-height: 167px;

  &:not(:last-child) div {
    border-bottom: 1px solid#D6D6D6;
  }

  @media (min-width: 768px) {
    padding: 0;
    min-height: 256px;

    &:not(:last-child) div {
      border-bottom: 0;
    }
  }
}

.benefit__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: 768px) {
    max-width: 65%;
    margin: 0 auto;
    padding-top: 42px;
  }
}

.benefit__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 21px;
    max-width: 50%;
  }
}

.benefit__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 21px;
  }
}

.benefit__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
