.index-content__slogan {
  margin: 32px 0 32px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0 18px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.index-content__slogan-definition {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
}

.index-content__slogan-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
