.index-content__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
}

.index-content__slogan-definition {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.index-content__slogan-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
