.index-intro {
  background-image: url("../../../img/index-intro-back.jpg");
  background-color: @light-blue;
  background-repeat: no-repeat;
}

.index-intro__triangle {
  display: block;
  background-image: url("../../../img/intro-triangle.svg.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
}
