.search-block__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
}

.search-block__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-block__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 121px 18px 121px;
  background-color: @button-blue;
  text-transform: uppercase;
  text-decoration: none;
}
