.footer__hashtag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer__made-in {
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background-image: url("../../../img/htmlacademy-logo.svg");
    background-color: #ffffff;
  }
}

.footer__made-in-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
