.main-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.main-header__wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main-header__item {
  width: 20%;

  a {
    text-decoration: none;
    color: @black-text;
    text-transform: uppercase;
  }
}
