.nav-block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-block__item {
  width: 100%;
}

.nav-block__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: @button-blue;
  width: 100%;
  padding: 17px 0 12px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.nav-block__link--nav {
  display: none;
}

.nav-block__toggle {
  position: absolute;
  z-index: 11;
  top: 17px;
  right: 20px;
}

@media (min-width: 768px) {
  .nav-block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .nav-block__link {
    background-color: #ffffff;
    color: #000000;
    padding: 18px 0 17px;
  }

  .nav-block__link--nav {
    display: block;
    background-color: inherit;
    padding: 0;
  }
}
