.nav-block {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--close {
    display: none;
  }

  &--static {
    display: flex;
    position: relative;
    z-index: 1;
  }

  @media (min-width: 768px) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--close {
      display: flex;
    }
  }
}

.nav-block__list {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 40%;
  }
}

.nav-block__item {
  width: 100%;
  max-height: 56px;
}

.nav-block__list:first-child .nav-block__item:first-child + .nav-block__link {
  border-top: 0;
}

.nav-block__list:last-child .nav-block__item:last-child + .nav-block__link {
  border-bottom: 0;
}

.nav-block__link {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
  padding: 16px 0 11px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @button-blue;
  color: #ffffff;
  border-bottom: 1px solid #01010133;
  border-top: 1px solid #ffffff33;

  &:hover {
    background-color: @button-blue-hover;
    color: #ffffff;
  }

  &:active {
    background-color: @button-blue-down;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: @button-blue-disabled;
    color: #ffffff;
  }

  @media (min-width: 768px) {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 18px 0 17px;
    border: 0;

    &:hover {
      background-color: #ffffff;
      color: #81b3d2;
    }

    &:active {
      background-color: #ffffff;
      color: #000000;
      opacity: 0.3;
    }

    &:current {
      background-color: #ffffff;
      color: #766357;
    }
  }
}
