.page-intro {
  background-image: url("../../img/index-intro-back.jpg");
  background-color: @light-blue;
  background-repeat: no-repeat;
  background-position: 0 100%;

  &::after {
    display: block;
    content: "";
    background-image: url("../../img/intro-triangle.svg.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    background-position: 0 100%;
  }
}
