.page-intro {
  background-image: url("../../img/page-intro-back-mob.jpg");
  background-color: @light-blue;
  background-repeat: no-repeat;
  background-position: 0 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 37px;
  max-width: 1200px;

  &::after {
    display: block;
    content: "";
    background-image: url("../../img/intro-triangle.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    background-position: 50% 100%;
  }

  &::before {
    display: block;
    content: "";
    background-image: url("/img/page-intro-sedona-mob.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 39px;
  }

  @media (min-width: 768px) {
    background-image: url("/img/index-intro-back.jpg");
    margin-bottom: 66px;

    &::before {
      background-image: url("/img/intro-text-sedona.svg");
      height: 78px;
    }
  }
}
