.social-networks {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-networks__link {
  display: block;
  background-color: @button-blue;
  width: 48px;
  height: 48px;

  &--vk {
    background-image: url("../img/icon-vk.svg");
    background-color: @button-blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--telegram {
    background-image: url("../img/icon-telegram.svg");
    background-color: @button-blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-color: @button-blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
